* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

body {
    background-color: #f4fff4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.logo h1 {
    margin: 0;
    font-size: 30px;
    align-items: center;
    color: white;
}

nav {
    flex: 1;
    text-align: right;
}

.menu {
    list-style-type: none;
    display: inline-flex;
    margin-right: 20px;
}

.menu .itens {
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: padding, background-color 0.3s ease;
    padding: 8px 20px;
    border-radius: 20px;
}

.itens:hover {
    background-color: #028a08;
}

main {
    display: flex;
    flex-direction: column;
}

.container-principal {
    text-align: center;
    padding: 150px;
}

.container-principal h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

.container-principal h1 span {
    color: #4CAF50;
}

.container-principal p {
    font-size: 16px;
    margin: 10px 0px 20px;
}

.container-principal button,
.promocoes button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 55px;
    font-size: 20px;
    transition: background-color, box-shadow 0.3s ease;
}

.container-principal button:hover,
.promocoes button:hover {
    background-color: #45a049;
    box-shadow: 0 10px 25px #45a0498f;
}

.servicos {
    background-color: white;
    text-align: center;
    padding: 20px;
}

#titulo-servicos {
    padding: 10px;
}

#titulo-servicos h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #4CAF50;
}

#titulo-servicos p {
    font-size: 16px;
    margin-top: 10px;
}

.container-servicos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 10px;
}

.servico {
    background-color: #4CAF50;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.servico:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.servico h3 {
    font-size: 25px;
    color: white;
}

.servico img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 15px 0px 15px 0px;
}

.servico p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}

.servico button {
    background-color: white;
    color: #4CAF50;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color, box-shadow 0.3s ease;
}

.servico button:hover {
    background-color: #e7e7e7;
    box-shadow: 0 8px 25px #45a0498f;
}

.promocoes {
    text-align: center;
    padding: 40px 20px;
}

.promocoes h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.promocoes p {
    font-size: 20px;
    margin: 10px 0px 20px;
}

.promocoes span {
    font-weight: bold;
    color: #4CAF50;
}

footer {
    background-color: #4CAF50;
    text-align: center;
    padding: auto;
}

.colunas-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column h4 {
    color: rgb(85, 85, 85);
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 8px;
}

.column ul li a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    transition: color 0.3s;
}

.column ul li a:hover {
    color: rgba(22, 22, 22, 0.644);
}

.footer-bottom {
    padding: 10px;
}

.footer-bottom p {
    font-size: 12px;
}