#grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
    padding: 20px 0;
}

#grid-galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Garante que a foto não fique esticada */
    border-radius: 15px;
    border: 3px solid #6a0dad; /* Borda roxa da sua identidade */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

#grid-galeria img:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    border-color: #1a1a1a; /* Muda para preto no hover */
}

#btn-carregar {
    display: block;
    margin: 20px auto;
    background-color: #6a0dad;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}