/*Estilização da pagina galeria*/
.gallery {
    text-align: center;
}


.gallery h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 28px;
}

.gallery-item {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.gallery-item img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-gallery {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.text-gallery p {
    text-align: justify;
    color: #666;
    line-height: 1.6;
}