header {
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produtos {
    background-color: white;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 8px 8px  rgba(0, 0, 0, 0.1);
}

.produtos h2 {
    font-size: 28px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.container-produtos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.produto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produto img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.produto p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 15px;
}


.botoes button {
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-comprar {
    background-color: #4CAF50; 
    color: #ffffff;
    padding: 0 20px;
    flex: 1; 
}

.btn-comprar:hover {
    background-color: #39853d;
    transform: translateY(-2px);
}

#carrinho {
    background-color: #e7e7e7; 
    color: #ffffff;
    width: 45px; 
}

#carrinho:hover {
    background-color: #b9b8b8;
    transform: translateY(-2px);
}

#carrinho svg {
    width: 20px;
    height: 20px;
}